/*  your css code here. If applicable */
#box{
	display:flex;
	justify-content:center;
	align-items:center;
	border: 2px solid black;
	height:200px;
	width:200px;
	margin:auto;
	text-align:center;
	color:purple;
	background-color:lightblue;
}